header {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  height: 100px;
  padding: 0px 20px;
}

nav {
  display: flex;
  align-items: center;
  a {
    margin-right: 15px;
  }
}

.logo {
  display: flex;
  width: fit-content;
  align-items: center;

  a {
    font-size: 30px;
    color: rgba(40, 93, 161, 1);
    font-weight: 200;
  }
}

.user_nav {
  width: 400px;
  display: flex;
  justify-content: right;
  position: relative;
  align-items: center;
  a {
    margin-left: 15px;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
  }

  .inputOn {
    width: 150px;
    border: 1px solid rgb(212, 210, 210);
    position: absolute;
    border-radius: 4px;
    left: 135px;
    outline: none;
    padding: 3px 28px 3px 3px;
  }

  .inputOff {
    display: none;
    width: 150px;
    border: 1px solid rgb(212, 210, 210);
    position: absolute;
    border-radius: 4px;
    left: 135px;
    outline: none;
    padding: 3px 28px 3px 3px;
  }
}

.cart {
  position: relative;
  span {
    position: absolute;
    right: 15px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    background-color: rgb(244, 121, 121);
    border-radius: 20px;
    padding: 2px;
  }
}
